<%= image_tag @portfolio_item.main_image %>

<%= @portfolio_item.inspect %>

<p><%= link_to portfolio_item.title,portfolio_path(portfolio_item.id) %></p>

<em><%= @portfolio_item.subtitle %></em>

<p><%= @portfolio_item.body %></p>


